<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Build html here</title>
  </head>
  <body>
    <!-- Base tempalte for project everrest -->
    <!-- Use only inline styles for hbs easy templates -->
    <section style="width: 100%; background-color: rgb(245,246,247); padding: 25px;">
      <section style="width: 100%;max-width: 600px;margin: auto;display: grid;grid-template-columns: 1fr;border: 1px solid #f1f2f5; background-color: white; padding: 25px 0px 15px;">
        <aside style="display: flex; border-bottom: 1px solid #eeeeee; padding: 0px 25px 15px;">
          <img style="border-radius: 3px;" height="50" width="50" src="https://raw.githubusercontent.com/educata/everrest/main/assets/images/educata-bg-white.png" alt="educata logo">
          <h3 style="margin: auto 10px;letter-spacing: 0.2rem; display: inline-block; vertical-align: middle; height: min-content; color: black; font-size: 1.5rem">Educata</h3>
        </aside>
        <aside style="padding: 5px 25px;">
          <!-- start here -->
          <h4 style="max-width: 30ch; border: 1px solid #eeeeee; line-break: anywhere; letter-spacing: 3px; background-color: rgb(245,246,247); padding: 10px; border-radius: 8px; margin: auto; text-align: center;">random password</h4>
          <!-- end here -->
        </aside>
        <aside style="border-top: 1px solid #eeeeee; padding: 15px 25px 0px; color: black;">
          <p style="margin: 0px; text-align: center; font-weight: bold;">Copyright © 2023 <a style="color: #15c;text-decoration: none" href="https://github.com/educata/everrest">Everrest</a></p>
        </aside>
      </section>
    </section>
  </body>
</html>
