main div.container-xl,
main div.container-xl {
  padding: 25px;
  box-shadow: rgba(0,0,0,0.35) 0px 2px 7px;
  border-radius: 8px;
}

main div.container-xl label,
main div.container-xl label {
  text-transform: capitalize;
}