<html lang='en'>

<head>
  <meta charset='UTF-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0' />
  <title>Echo | EverREST</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap" rel="stylesheet">
  <link rel="shortcut icon" href="https://everrest.educata.dev/favicon.ico" type="image/x-icon">
  <meta name="author" content="Educata">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://everrest.educata.dev/">
  <meta property="og:title" content="EverREST - Build real CRUD applications">
  <meta property="og:description"
    content="EverREST helps you to practice development using a full-featured easy-to-use API">
  <meta property="og:image" content="https://everrest.educata.dev/logo.png">
  <meta property="fb:app_id" content="1717539238757544">
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:type" content="website">
  <meta property="twitter:url" content="https://everrest.educata.dev/">
  <meta property="twitter:title" content="EverREST - Build real CRUD applications">
  <meta property="twitter:description"
    content="EverREST helps you to practice development using a full-featured easy-to-use API">
  <meta property="twitter:image" content="https://everrest.educata.dev/logo.png">
  <meta>
  <style>
    body {
      margin: 0px;
      padding: 0px;
      font-family: 'Open Sans', sans-serif;
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      place-items: center;
    }

    main {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      row-gap: 15px;
      place-items: center;
    }
  </style>
</head>

<body>
  <main>
    {{{body}}}
  </main>
</body>

</html>